<!DOCTYPE html>
<html>
  <head>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="environment.js"></script>
  <script src="../js_lib/opal.js"></script>
  <script src="../js_lib/asciidoctor.js"></script>
  <script src="../js_lib/freelog_util.js"></script>
  <link type="text/css" href="../css_lib/asciidoctor.css" rel="stylesheet" />

  <script src="../<%= @widget_name %>.js"></script>
  <script type="text/javascript">
    $(document).ready (function (){
        <%= @widget_name_camel %>.init();
    });

  </script>
  </head>
  <body>
    <%= @widget_html_content %>
  </body>
</html>
